body{
    background-color: #fff;
   
}
.product-img{
    height: 20vh;
    width: 20vw;
}
.catgorys-holder{
    display: flex;
    flex-direction: column;
    margin-left:400px;
    margin-top: 100px;
}
.li-holder{
    display: flex;
}
.category-li{
    margin-left: 10px;
    margin-right: 10px;
}

.category-li:hover{
    color: pink;
    cursor: pointer;
}

.product{
    margin-top: 20px;
    display: flex;
}
.product-info{
    margin-left: 10px;
}
.cart-btn{
    background-color: yellow;
    border: 1px solid black;
    color: blue;
    height: 50px;
    width: 100px;
    border-radius: 12px;
    margin-top: 5px;
    transition: all 0.5s;
}

.cart-btn:hover{
    background-color: black;
    border: 1px solid yellow;
color: #fff;
    font-size: 16px;
}


.sort-div{
    height: 25vh;
    display: flex;
flex-direction: column;
align-items:flex-start ;
}



@media  (min-width:365px){
    .catgorys-holder{
        margin: 0 auto;
        align-items: center;
    }
   
}